body{
	background:hsl(35, 30%, 88%);
	color:white;
}

.list{
	position:relative;
	border:solid 2px orange;
}


.item{
	/*position:absolute;*/
	clear:both;
}

.item .drag-handle{
	width:40px;
	height:30px;
	background-color:black;
	cursor:move;
}

.item .editable{
	background-color: brown;
}